@page "/"
@using GradeTracker.Services.Interfaces
@using GradeTracker.Models;
@using System.Security.Claims
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Home</PageTitle>

<AuthorizeView>
	<NotAuthorized>
		<span>
			You are not logged in. Please <a href="/login">click here</a> to login
		</span>
	</NotAuthorized>
	<Authorized>
		<h1>Hello, @user.FirstName!</h1>

		Welcome to your new app.
		<span>
			You are logged in as <b>@user.FirstName</b>.
			<a href="/logout">Click here</a> to logout
		</span>
	</Authorized>
</AuthorizeView>

